<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-sm-6">        
        <p><b><%= shopping_cart_item.item.name %></b></p>
        <p><%= number_to_currency shopping_cart_item.item.price %></p>
      </div>
    </div>
  </div>
</div>