<div class="row">
  <div class="col-md-4 col-sm-6">        
     <%= image_tag cart_product.image.url(:thumb), class: :image %>
  </div>
  <div class="col-md-4 col-sm-6">        
    <%= cart_product.name %>  
  </div>
  <div class="col-md-4 col-sm-6">
   <h4><%= number_to_currency cart_product.price %></h4>
     <%= link_to "", class: "btn btn-primary btn-default", data: {target: 'Remove from ', removeUrl: remove_from_cart_path(cart_product)} do %>
    <span class="glyphicon glyphicon-shopping-cart"></span>Remove from Cart
  <% end %>
  </div>
</div>